body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
span{color: rgb(255, 0, 64);}
.flex-function{
    display: flex;
}
.detail-pic{
    width: 50%;
    margin-left: 10px;
}
.detail-pic p{
    color: rgb(9, 91, 184);
    font-size: 18px;
}
h1{font-size: 60px;
color: rgb(124, 154, 209);}
h3{
    font-size: 40px;
    color: rgb(207, 116, 188);
}
.detail-pic img{
    width: 100%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(#5f2c82,#49a09d);
    padding: 10px 20px;
    border-radius: 5px;
    
}
.top-section{
    background-image: url(image/first_background.png);
    margin: 0;
}
.third-section h1{ 
    text-align: center;
}
.data{
    width: 50%;
    box-shadow: 10px 10px 10px rgb(42, 89, 192);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 10px 10px;
}
#personal{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(5, 27, 59),rgb(22, 143, 190));
    border-image-slice: 1;
}

#personal h4{ 
    font-size: 25px;
    color: rgb(11, 68, 105);
}
#personal p{
    color:rgb(22, 143, 190) ;
}
#education h4{
    font-size: 25px;
    color: rgb(48, 8, 114) ;
}
#education{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(48, 8, 114),rgb(103, 50, 187));
    border-image-slice: 1;
}
#education p{
    color: rgb(103, 50, 187) ;
}
footer p{
    text-align: center;
}