body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
span{color: rgb(255, 0, 64);}
.flex-function{
    display: flex;
}
.detail-pic{
    width: 50%;
    margin-left: 10px;
}
.detail-pic p{
    color: rgb(46, 56, 146);
    font-size: 18px;
}
h1{font-size: 60px;
color: rgb(160, 100, 216);}
h3{
    font-size: 40px;
    color: rgb(207, 116, 188);
}
.detail-pic img{
    width: 100%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(#5f2c82,#49a09d);
    padding: 10px 20px;
    border-radius: 5px;
    
}
.top-section{
    background-image: url(image/first_background.png);
    margin: 0;
}